<div class="card">
    <div class="card-body">
        <h4>Your Alumni Information:</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Alumni No: <strong>{{alumni.alumni_no}}</strong></li>
            <li class="list-group-item">Application No: <strong>{{alumni.application_no}}</strong></li>
            <li class="list-group-item">Name: {{alumni.name}}</strong></li>
            <li class="list-group-item">Phone: {{alumni.phone}}</strong></li>
            <li class="list-group-item">Email: {{alumni.email}}</strong></li>
        </ul>
        <a href="#"></a>
    </div>
</div>