{% extends 'base.html' %}

{% block content %}
<div class="container p-5">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div>
                    <label for="id_email">Enter your registered email:</label>
                </div>
                <div>
                    <input type="text" name="email" id="id_email">
                </div>
                <div class="d-flex justify-content-center" style="margin-top: 20px;">
                    <button hx-post="{% url 'searchAlumni' %}" hx-target="#search-result">
                        Search
                    </button>
                </div>
            </form>  
        </div>
    </div>
    <div id="search-result">

    </div>

</div>
{% endblock content%}